<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>user page</title>
</head>
<body>
    <h2>메인 페이지(회원 전용)</h2>

    ID : <span sec:authentication="name"></span> <br>
    소유 권한 : <span sec:authentication="authorities"></span> <br>

    <form id="logout" th:action="@{/logout}" method="GET">
        <input type="submit" value="로그아웃"/>
    </form> <br>

    <a href="/admin">관리자 페이지로 이동 -></a>
</body>
</html>